<.sidebar>
  <.cluster>
    <.box>
      Contact 0
    </.box>
    <.box>
      Contact 1
    </.box>
    <.box>
      Contact 2
    </.box>
  </.cluster>


  <.cover>
    <.center>
      <p>
        SOMETHING
      </p>
    </.center>
  </.cover>
</.sidebar>